{% extends "sitio/layout.html" %}

{% block content %}
    <section class="row mt-3">

        <!-- Titulo -->
        <div class="col-12 mb-4 text-center text-center text-md-left">
            <h3 class="display-4">Acerca de...</h3>
            <p class="margen">Somos un grupo de amigas que comenzó a realizar la venta de productos para mascotas como bandanas,
                correas e
                identificaciones, todo esto para ayudar a una fundación sin fines de lucro, todo partió a través de las redes
                sociales....... Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit enim fuga recusandae id
                perferendis dolorum officia, voluptas accusantium totam possimus quidem reiciendis adipisci ipsa vero laudantium
                voluptatibus doloribus ab sequi!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores ducimus at
                amet eius ea vitae ipsum sapiente quidem dolorum fuga eaque quis sint recusandae aliquid aspernatur, aliquam sequi
                similique non.
              </p>
              <p class="margen">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, neque! Ex voluptatum itaque blanditiis incidunt
                eveniet veniam, consequuntur deleniti voluptas, corporis et odio earum sequi quos rem magni debitis iusto.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quas amet, aliquam esse obcaecati minima
                quibusdam repellat maiores facere est soluta aut autem numquam? Cupiditate error id ea cumque debitis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias reiciendis praesentium dignissimos illo
                inventore distinctio commodi consequatur, cumque consectetur delectus illum incidunt eius? Reprehenderit
                consectetur ipsum harum, ipsam magnam placeat.
              </p>
              <p class="margen">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, neque! Ex voluptatum itaque blanditiis incidunt
                eveniet veniam, consequuntur deleniti voluptas, corporis et odio earum sequi quos rem magni debitis iusto.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quas amet, aliquam esse obcaecati minima
                quibusdam repellat maiores facere est soluta aut autem numquam? Cupiditate error id ea cumque debitis.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. In dolore neque placeat natus exercitationem veritatis
                vel facilis accusamus repellat soluta! Quos ipsam quae iste officia molestias delectus voluptas ea voluptate!
              </p>
            </div>
          
        
    </section>
{% endblock %}